[submodule ".yadm/submodules/zsh-autosuggestions"]
	path = .yadm/submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".yadm/submodules/oh-my-zsh"]
	path = .yadm/submodules/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".yadm/submodules/base16-xresources"]
	path = .yadm/submodules/base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule ".yadm/submodules/vim-plug"]
	path = .yadm/submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".yadm/submodules/nodenv"]
	path = .yadm/submodules/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule ".yadm/submodules/node-build"]
	path = .yadm/submodules/node-build
	url = https://github.com/nodenv/node-build.git
